@using ToDo.Api.Contract.Tasks

<RadzenDataGrid TItem="TaskItem" Count="@(Tasks?.Items?.Count ?? 0)" Data="@(Tasks?.Items)"
                AllowPaging="true" PageSize="18">
    <Columns>
        <RadzenDataGridColumn TItem="TaskItem" Property="CreatedAt" Title="Created At" Width="150px">
            <Template Context="item">
                @item.CreatedAt.ToDateTime().ToString("yyyy, MMM dd (HH:mm)")
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="TaskItem" Property="CreatedBy" Title="Created By" Width="150px"/>
        <RadzenDataGridColumn TItem="TaskItem" Title="Task">
            <Template Context="item">
                <p style="overflow: auto; white-space: initial;">
                    @item.Title
                </p>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="TaskItem">
            <Template Context="item">
                @if (item.IsCompleted == false)
                {
                    <RadzenButton Text="Done" Click="() => TaskItemDone(item)" ButtonStyle="ButtonStyle.Primary"/>
                    <RadzenButton Text="Delete" Click="() => TaskItemDelete(item)" ButtonStyle="ButtonStyle.Danger"/>
                }
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>