@page "/"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Protocols.OpenIdConnect
@using ToDo.App.Auth
@namespace ToDo.App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ToDo.App</title>
    <base href="~/"/>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="ToDo.App.styles.css" rel="stylesheet"/>
</head>
<body>

@{
    var tokens = new InitialApplicationState
    {
        IdToken = await HttpContext.GetTokenAsync(OpenIdConnectParameterNames.IdToken),
        AccessToken = await HttpContext.GetTokenAsync(OpenIdConnectParameterNames.AccessToken),
        RefreshToken = await HttpContext.GetTokenAsync(OpenIdConnectParameterNames.RefreshToken)
    };
}

<component type="typeof(App)" param-InitialState="@tokens" render-mode="Server"/>

<script src="_framework/blazor.server.js"></script>
<script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>
</html>