@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenDialog/>
    <RadzenNotification/>
    <RadzenTooltip/>
    
    <RadzenHeader>
        <div class="d-flex align-items-center">
            <RadzenSidebarToggle Click="@(() => SidebarExpanded = !SidebarExpanded)"/>
            <RadzenLink Path="/" Text="ToDo App"/>
        </div>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@SidebarExpanded">
        <NavMenu/>
    </RadzenSidebar>
    <RadzenBody>
        <div class="p-2">
            <AuthorizeView>
                <Authorized>
                    @Body
                </Authorized>
                <NotAuthorized>
                    Access Denied.
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </RadzenBody>
</RadzenLayout>

@code
{
    private bool SidebarExpanded;
}
