<RadzenCard>
    <div>
        <RadzenLabel Text="List Name" class="form-label"></RadzenLabel>
        <RadzenTextBox @bind-Value="@SelectedItem.Name" Name="Name" class="form-control"/>
    </div>
    <div class="clearfix mt-2">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Variant="Variant.Text" Click="() => DialogService.Close()">Cancel</RadzenButton>
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Variant="Variant.Text" Click="@SaveList" class="float-end">Save</RadzenButton>
    </div>
</RadzenCard>
